body {
    margin: 0px;
    /*Keeps the content fit to the sides of the screen*/
}

.header {
    display: flex;
    flex-direction: row; /* To separate the header elements horizontally */
    justify-content: space-between; /* To locate elements at the end and start of the flex */
    align-items: center; /* to align the elements in the center vertically */
    padding-left: 10%; 
    padding-right: 18%; /* padding from left and right */
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

ul {
    list-style: none; /* Remove dots from the list*/
    display: flex;
    gap: 16px;  /* Set a space between elements of the ul */
}

a {
    text-decoration: none; /* remove underline from the links elements */
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #1f2937;
}

.content {
    padding: 10% ;
    display: flex;
    flex-direction: column;
    flex-basis: 22%; /* set the content minimum size */
    flex-shrink: 0; /* set the content element to not shrink more than the min width it's given */
    height: 250px;
}

.title {
    color: #E5E7EB;
    font-size: 48px ;
    font-weight: bolder;
}

.button {
    align-self: flex-start;
    background-color: #3882f6;
    color: #E5E7EB;
    flex-basis: 15%;
    width: 40%;
    border-radius: 10px;
    flex-shrink: 0;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    cursor: pointer; /* change cursor to pointer when hovering over the button*/
}

.hero2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero2 p {
    color: #E5E7EB;
    padding-top: 10px;
    padding-bottom: 10px;
}

.call {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 20px;
    min-width: 800px;
}

@media (max-width: 800px) {
    .your-element {
      width: 100%; /* Set width to 100% for smaller screens */
    }
  }
  
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    cursor: pointer;
}

.box div {
    width: 150px;
    height: 150px;
    border: 3px solid #1f2937;
    border-radius: 10px;
}

.box img {
    width: 150px;
    height: 150px;
    padding: 21px;
    border-radius: 10px;
  }

.box p {
    width: 140px;
    height: 100px;
    text-align: center;
    font-size: 18px;
}

.info {
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
}

img {
    max-width: 70%;
    max-height: 70%;
    padding: 70px;
}

.image {
    min-width: 500px;
    min-height: 500px;
}

.quoted {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.quote {
    display: flex;
    justify-content: center;
    width: 1000px;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    margin-bottom: 0;
}

.author {
    display: flex;
    justify-content: flex-end;
    width: 1000px;
    font-size: 30px;
    font-style: bolder;
    padding-right: 7%;
}

.container {
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 20% 4% 20%;
    border-radius: 10px;
    padding: 20px;
}

.action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    padding: 3%;
}

.text {
    color: #E5E7EB;
}
.button1 {
    background-color: #3882f6;
    color: #E5E7EB;
    border: 3px solid #E5E7EB;
    border-radius: 10px;
    flex-shrink: 0;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 25px 10px ;
}

.copyright {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    color: #E5E7EB;
    font-size: 20px;
}

.big {
    font-weight: bolder;
    font-size: 24px;
    margin: 0;
}

.small {
    margin: 0;
}